name: Docker Image CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Fetch all tags
      run: git fetch --tags

    - name: Determine next tag
      id: tag
      run: |
        LATEST_TAG=$(git tag --sort=-v:refname | head -n 1)
        if [[ -z "$LATEST_TAG" ]]; then
          NEXT_TAG=1.0.0
        else
          IFS='.' read -r -a parts <<< "$LATEST_TAG"
          PATCH=$((parts[2] + 1))
          NEXT_TAG="${parts[0]}.${parts[1]}.$PATCH"
        fi
        echo "next_tag=$NEXT_TAG" >> $GITHUB_ENV

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: laurencemillward/docker-nordvpn

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: |
          laurencemillward/docker-nordvpn:latest
          laurencemillward/docker-nordvpn:${{ env.next_tag }}
        labels: ${{ steps.meta.outputs.labels }}
